#### Datos de Visualizaciones de Netflix

In [1]:
import pandas as pd
import numpy as np

data = pd.read_excel("all-weeks-global.xlsx")
data

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
0,2023-12-10,Films (English),1,Leave the World Behind,NaN,98700000,2.3667,41700000.0,1,False,NaN
1,2023-12-10,Films (English),2,Family Switch,NaN,32900000,1.7667,18600000.0,2,False,NaN
2,2023-12-10,Films (English),3,Leo,NaN,25400000,1.7833,14200000.0,3,False,NaN
3,2023-12-10,Films (English),4,The Super Mario Bros. Movie,NaN,20300000,1.5333,13200000.0,2,False,NaN
4,2023-12-10,Films (English),5,Catering Christmas,NaN,12500000,1.4333,8700000.0,2,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5115,2021-07-04,TV (Non-English),6,Elite,Elite: Season 1,10530000,NaN,NaN,1,False,NaN
5116,2021-07-04,TV (Non-English),7,Elite,Elite: Season 3,10200000,NaN,NaN,1,False,NaN
5117,2021-07-04,TV (Non-English),8,Elite,Elite: Season 2,10140000,NaN,NaN,1,False,NaN
5118,2021-07-04,TV (Non-English),9,Katla,Katla: Season 1,9190000,NaN,NaN,1,False,NaN
5119,2021-07-04,TV (Non-English),10,Record of Ragnarok,Record of Ragnarok: Season 1,9140000,NaN,NaN,1,False,NaN

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5120 entries, 0 to 5119
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   week                        5120 non-null   object
 1   category                    5120 non-null   object
 2   weekly_rank                 5120 non-null   int64
 3   show_title                  5120 non-null   object
 4   season_title                2479 non-null   object
 5   weekly_hours_viewed         5120 non-null   int64
 6   runtime                     1040 non-null   float64
 7   weekly_views                1040 non-null   float64
 8   cumulative_weeks_in_top_10  5120 non-null   int64
 9   is_staggered_launch         5120 non-null   bool
 10  episode_launch_details      38 non-null     object
dtypes: bool(1), float64(2), int64(3), object(5)
memory usage: 405.1+ KB

In [3]:
horasem = data.sort_values(by='weekly_hours_viewed', ascending=False)
horasem.head(15)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
4590,2021-10-03,TV (Non-English),1,Squid Game,Squid Game: Season 1,571760000,NaN,NaN,3,False,NaN
4630,2021-09-26,TV (Non-English),1,Squid Game,Squid Game: Season 1,448730000,NaN,NaN,2,False,NaN
4550,2021-10-10,TV (Non-English),1,Squid Game,Squid Game: Season 1,412940000,NaN,NaN,4,False,NaN
2140,2022-12-04,TV (English),1,Wednesday,Wednesday: Season 1,411290000,NaN,NaN,2,False,NaN
2180,2022-11-27,TV (English),1,Wednesday,Wednesday: Season 1,341230000,NaN,NaN,1,False,NaN
3180,2022-06-05,TV (English),1,Stranger Things,Stranger Things 4,335010000,NaN,NaN,2,False,NaN
3020,2022-07-03,TV (English),1,Stranger Things,Stranger Things 4,301280000,NaN,NaN,6,False,NaN
2500,2022-10-02,TV (English),1,DAHMER,DAHMER: Monster: The Jeffrey Dahmer Story,299840000,NaN,NaN,2,False,NaN
3220,2022-05-29,TV (English),1,Stranger Things,Stranger Things 4,286790000,NaN,NaN,1,False,NaN
2100,2022-12-11,TV (English),1,Wednesday,Wednesday: Season 1,269670000,NaN,NaN,3,False,NaN
4510,2021-10-17,TV (Non-English),1,Squid Game,Squid Game: Season 1,258840000,NaN,NaN,5,False,NaN
3540,2022-04-03,TV (English),1,Bridgerton,Bridgerton: Season 2,251740000,NaN,NaN,2,False,NaN
3870,2022-02-06,TV (Non-English),1,All of Us Are Dead,All of Us Are Dead: Season 1,236230000,NaN,NaN,2,False,NaN
1460,2023-04-02,TV (English),1,The Night Agent,The Night Agent: Season 1,216390000,NaN,NaN,2,False,NaN
2460,2022-10-09,TV (English),1,DAHMER,DAHMER: Monster: The Jeffrey Dahmer Story,205330000,NaN,NaN,3,False,NaN

In [4]:
vistasem = data.sort_values(by='weekly_views', ascending=False)
vistasem.head(15)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
1000,2023-06-18,Films (English),1,Extraction 2,NaN,88400000,2.0667,42800000.0,1,False,NaN
960,2023-06-25,Films (English),1,Extraction 2,NaN,87300000,2.0667,42200000.0,2,False,NaN
0,2023-12-10,Films (English),1,Leave the World Behind,NaN,98700000,2.3667,41700000.0,1,False,NaN
640,2023-08-20,Films (English),1,Heart of Stone,NaN,74000000,2.1000,35200000.0,2,False,NaN
80,2023-11-26,Films (English),1,Leo,NaN,61700000,1.7833,34600000.0,1,False,NaN
680,2023-08-13,Films (English),1,Heart of Stone,NaN,69600000,2.1000,33100000.0,1,False,NaN
370,2023-10-08,Films (Non-English),1,Nowhere,NaN,54400000,1.8167,29900000.0,2,False,NaN
840,2023-07-16,Films (English),1,The Out-Laws,NaN,46300000,1.6167,28600000.0,2,False,NaN
160,2023-11-12,Films (English),1,The Killer,NaN,55700000,2.0000,27900000.0,1,False,NaN
410,2023-10-01,Films (Non-English),1,Nowhere,NaN,43200000,1.8167,23800000.0,1,False,NaN
720,2023-08-06,Films (English),1,Hidden Strike,NaN,40500000,1.7167,23600000.0,2,False,NaN
40,2023-12-03,Films (English),1,Leo,NaN,42100000,1.7833,23600000.0,2,False,NaN
120,2023-11-19,Films (English),1,The Killer,NaN,44500000,2.0000,22300000.0,2,False,NaN
41,2023-12-03,Films (English),2,Family Switch,NaN,39200000,1.7667,22200000.0,1,False,NaN
760,2023-07-30,Films (English),1,Hidden Strike,NaN,37800000,1.7167,22000000.0,1,False,NaN

In [5]:
vistasem = vistasem.drop_duplicates(subset='show_title', keep='first')
vistasem.head(10)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
1000,2023-06-18,Films (English),1,Extraction 2,NaN,88400000,2.0667,42800000.0,1,False,NaN
0,2023-12-10,Films (English),1,Leave the World Behind,NaN,98700000,2.3667,41700000.0,1,False,NaN
640,2023-08-20,Films (English),1,Heart of Stone,NaN,74000000,2.1000,35200000.0,2,False,NaN
80,2023-11-26,Films (English),1,Leo,NaN,61700000,1.7833,34600000.0,1,False,NaN
370,2023-10-08,Films (Non-English),1,Nowhere,NaN,54400000,1.8167,29900000.0,2,False,NaN
840,2023-07-16,Films (English),1,The Out-Laws,NaN,46300000,1.6167,28600000.0,2,False,NaN
160,2023-11-12,Films (English),1,The Killer,NaN,55700000,2.0000,27900000.0,1,False,NaN
720,2023-08-06,Films (English),1,Hidden Strike,NaN,40500000,1.7167,23600000.0,2,False,NaN
41,2023-12-03,Films (English),2,Family Switch,NaN,39200000,1.7667,22200000.0,1,False,NaN
560,2023-09-03,Films (English),1,You Are So Not Invited to My Bat Mitzvah,NaN,37900000,1.7333,21900000.0,2,False,NaN

In [6]:
horasem = horasem.drop_duplicates(subset='show_title', keep='first')
horasem.head(10)

,week,category,weekly_rank,show_title,season_title,weekly_hours_viewed,runtime,weekly_views,cumulative_weeks_in_top_10,is_staggered_launch,episode_launch_details
4590,2021-10-03,TV (Non-English),1,Squid Game,Squid Game: Season 1,571760000,NaN,NaN,3,False,NaN
2140,2022-12-04,TV (English),1,Wednesday,Wednesday: Season 1,411290000,NaN,NaN,2,False,NaN
3180,2022-06-05,TV (English),1,Stranger Things,Stranger Things 4,335010000,NaN,NaN,2,False,NaN
2500,2022-10-02,TV (English),1,DAHMER,DAHMER: Monster: The Jeffrey Dahmer Story,299840000,NaN,NaN,2,False,NaN
3540,2022-04-03,TV (English),1,Bridgerton,Bridgerton: Season 2,251740000,NaN,NaN,2,False,NaN
3870,2022-02-06,TV (Non-English),1,All of Us Are Dead,All of Us Are Dead: Season 1,236230000,NaN,NaN,2,False,NaN
1460,2023-04-02,TV (English),1,The Night Agent,The Night Agent: Season 1,216390000,NaN,NaN,2,False,NaN
4750,2021-09-05,TV (Non-English),1,Money Heist,Money Heist: Part 5,201910000,NaN,NaN,1,False,NaN
3780,2022-02-20,TV (English),1,Inventing Anna,Inventing Anna: Limited Series,195970000,NaN,NaN,2,False,NaN
1940,2023-01-08,TV (English),1,Ginny & Georgia,Ginny & Georgia: Season 2,180470000,NaN,NaN,1,False,NaN